@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;

  src: local("MontserratBold"), url("../fonts/MontserratBold.woff2") format("woff2"), url("../fonts/MontserratBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;

  src: local("MontserratRegular"), url("../fonts/MontserratRegular.woff2") format("woff2"), url("../fonts/MontserratRegular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;

  src: local("MontserratSemiBold"), url("../fonts/MontserratSemiBold.woff2") format("woff2"), url("../fonts/MontserratSemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;

  src: local("MontserratMedium"), url("../fonts/MontserratMedium.woff2") format("woff2"), url("../fonts/MontserratMedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;

  src: local("MontserratExtraBold"), url("../fonts/MontserratExtraBold.woff2") format("woff2"), url("../fonts/MontserratExtraBold.woff") format("woff");
  font-display: swap;
}

/* Подключила шрифты */





html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: #ffffff;
}

.container {
  width: 100%;
  max-width: 1870px;
  margin: 0 auto;
  padding: 0 75px;
}

.flex {
  display: flex;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: #000000;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}

.btn-reset {
  border: none;
  cursor: pointer;
  transition: color .2s linear;
}

.btn-reset::after {
  transition: opacity .3s ease, opacity .2s linear;
}

.btn-reset:focus {
  color: var(--white-color);
  background-color: var(--orange-color1);
}

.btn-reset:hover {
  color: var(--white-color);
  background-color: var(--orange-color1);
}

.btn-reset:active {
  color: var(--white-color);
  background-color: var(--orange-color);
}

/* header */

.burger {
  position: relative;
  z-index: 5;
  display: none;
  width: 30px;
  height: 25px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000000;
  transform: translateY(-50%);
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000000;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.is-active .burger__line {
  opacity: 0;
}

.is-active.burger::before {
  top: 50%;
  left: 25%;
  transition: transform .3s ease-in-out,
    top .3s ease-in-out, left .3s ease-in-out;
  transform: rotate(45deg);
  transform-origin: center;
}

.is-active.burger::after {
  top: 50%;
  bottom: auto;
  left: 25%;
  transition: transform .3s ease-in-out,
    top .3s ease-in-out, left .3s ease-in-out;
  transform: rotate(-45deg);
  transform-origin: center;
}

.header {
  min-height: 100px;
  margin-bottom: 50px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 0 0 32px 32px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
}

.header-item {
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #333333;
  transition: color .2s linear;
}

.nav__link:focus {
  outline: 2px solid #ff9900;
  outline-offset: 4px;
}

.nav__link:hover {
  border-bottom: 2px solid #ff9900;
}

.nav__link:active {
  border-bottom: 2px solid #e1670e;
  color: #e1670e;
  outline: none;
  transition: color .2s linear;
}

.header__search-btn {
  flex-shrink: 0;
  padding: 0;
  color: #000000;
  outline: none;
  background-color: #ffffff;
  transition: color .2s linear;
}

.header__search-btn:focus {
  border-radius: 0;
  outline: 2px solid #ff9900;
  outline-offset: 5px;
}

.header__search-btn :hover {
  color: #ff9900;
}

.header__search-btn:active {
  color: #e1670e;
  outline: none;
}

.header__nav {
  align-items: center;
  width: 100%;
  max-width: 708px;
}

.header__nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 992px;
}

.nav__list {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.nav__link {
  display: inline-block;
}

.header__search-form {
  position: absolute;
  z-index: 14;
  top: 6px;
  right: 50px;
  display: none;
  align-items: center;
  width: 539px;
  padding: 15px 13px 18px 30px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .12);
  transform-origin: right;
}

.header__search-form.is-opened {
  display: flex;
  animation-name: search-open;
  animation-duration: .3s;
}

.header__search-form.is-closed {
  animation-name: search-close;
  animation-duration: .3s;
}

.header__search-input {
  flex-grow: 1;
  width: 222px;
  margin-right: 14px;
  padding: 0;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #cacaca;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  outline: none;
}

.header__search-input ::placeholder {
  transition: opacity .3s ease-in-out;
}

.header__search-input:focus::placeholder {
  opacity: 0;
}

.header__close-btn {
  flex-shrink: 0;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: color .2s linear;
}

.header__close-btn-icon {
  color: #cacaca;
}

.header__close-btn:focus:not(:hover) {
  border-radius: 0;
  outline: 2px solid #ff9900;
  outline-offset: 5px;
}

.header__close-btn :hover {
  color: #ff9900;
}

.header__close-btn:active .header__close-btn-icon {
  color: #000000;
}

.header__close-btn:active {
  outline: none;
}

.header__search-btn--submit {
  margin-right: 22px;
}

/* main */
.hero {
  position: relative;
  margin-bottom: 50px;
}

.hero__content-wrap {
  position: relative;
  z-index: 2;
}

.hero__content {
  position: relative;
  z-index: 2;
  min-height: 620px;
  padding: 100px 100px 100px 80px;
  border-radius: 32px;
  background-color: #666666;
}

.hero__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.hero__slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 32px;
}

.hero__slide--one {
  background-image: url(../img/fon1.jpg);
}

.hero__slide--two {
  background-image: url(../img/fon-2.jpg);
}

.hero__slide--three {
  background-image: url(../img/fon-3.jpg);
}

.hero__swiper-pagination .swiper-pagination {
  bottom: 30px;
  line-height: 1;
}

.hero__title {
  max-width: 837px;
  margin: 0;
  margin-bottom: 24px;
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
  color: #ffffff;
}

.hero__descr {
  max-width: 790px;
  margin: 0;
  margin-bottom: 90px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #ffffff;
}

.header__logo {
  margin-right: auto;
}

.hero__btn {
  padding: 25px 39px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;
  background: #ff9900;
}

.hero__btn:focus {
  position: absolute;
  color: #ffffff;
  background: rgba(255, 153, 0, .7);
}

.hero__btn:hover {
  color: #ffffff;
  background: rgba(255, 153, 0, .7);
}

.hero__btn:active {
  color: #ffffff;
  background: #e1670e;
}

/* information */
.information {
  margin-bottom: 100px;
}

.btn-information {
  padding: 20px 38px;
  border: 3px solid #ff9900;
  color: #ffffff;
  background-color: transparent;
  transition: color .2s linear;
  border-radius: 16px;
}

.btn-information:focus {
  border: none;
  color: #ffffff;
  background-color: #ff9900;
  transition: color .2s linear;
}

.btn-information:hover {
  border: none;
  color: #ffffff;
  background-color: #ff9900;
  transition: color .2s linear;
}

.btn-information:active {
  border: none;
  color: #ffffff;
  background-color: #e1670e;
  transition: color .2s linear;
}

.information-text {
  width: 100%;
  max-width: 1235px;
  margin: 0;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
}

.information__article-one {
  display: flex;
  align-items: flex-end;
  width: 100%;
  width: calc((100% - 32px) / 2);
  min-height: 622px;
  margin-right: 32px;
  border-radius: 32px;
  background-color: #666666;
  background-image: url(../img/fon2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.information__article-two {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  width: calc((100% - 32px) / 2);
}

.card-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #000000;
  letter-spacing: -.3px;
}

.card-text {
  width: 100%;
  max-width: 450px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
}

.article-one-item {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 50px 50px;
  border-radius: 32px;
  background: rgba(0, 0, 0, .5);
}

.article-one-text {
  width: 100%;
  max-width: 433px;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
}

.information-all {
  justify-content: space-between;
  width: 100%;
}

.card {
  display: flex;
  width: 100%;
  max-width: 870px;
  min-height: 295px;
  padding: 65px 118px 65px 300px;
  border: 1px solid #cacaca;
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: 60px 65px;
}

.card1 {
  margin-bottom: 32px;
  background-image: url(../img/svg2-work.svg);
}

.card2 {
  background-image: url(../img/svg1-work.svg);
}

/*stages */
.stages {
  margin-bottom: 111px;
}

.stages-title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: #000000;
}

.stages-list {
  margin-bottom: 45px;
}

.stages-item-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
  background-color: transparent;
  transition: color .2s linear;
}

.stages-item:not(:last-child) {
  margin-right: 69px;
}

.stages-item-link:focus {
  outline: 2px solid #ff9900;
  outline-offset: 2px;
  transition: color .2s linear;
}

.stages-item-link:hover {
  color: #ff9900;
  transition: color .2s linear;
}

.stages-item-link:active {
  border: none;
  color: #e1670e;
  outline: none;
  transition: color .2s linear;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: #000000;
}

.project-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #000000;
}

.project-text {
  width: 100%;
  max-width: 758px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
  letter-spacing: .8px;
}

.stages-item1 {
  width: calc(758 / 1770 * 100%);
}

.stages-item2 {
  max-width: 870px;
}

.stages-article {
  display: none;
  justify-content: space-between;
}

.stages-article.active {
  display: flex;
  animation-name: fade-in;
  animation-duration: .7s;
}

.tabs-image-wrap {
  flex-shrink: 0;
  width: calc(870 / 1770 * 100%);
  padding-top: 10px;

  object-fit: cover;
}

.tabs-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  object-fit: cover;
}

.stages-item2-pic {
  border-radius: 32px;

  object-fit: cover;
}

.stages-item1-text {
  margin-bottom: 18px;
}

.stages-btn1 {
  margin-right: 32px;
  padding: 20px 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #ff9900;
  border-radius: 16px;
}

.stages-btn1:focus {
  color: #ffffff;
  outline: none;
  background-color: #FFB84D;
  transition: color .2s linear;
}

.stages-btn1:hover {
  border: none;
  color: #ffffff;
  background-color:#FFB84D;
  transition: color .2s linear;
}

.stages-btn1:active {
  border: none;
  color: #ffffff;
  background-color: #e1670e;
  transition: color .2s linear;
}

.stages-btn2 {
  border-radius: 16px;
  padding: 20px 38px;
  border: 1px solid #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-align: center;
  background-color: transparent;
}

.stages-btn2:focus {
  border: none;
  color: #ffffff;
  outline: none;
  background-color: #666666;
}

.stages-btn2:hover {
  border: none;
  color: #ffffff;
  background-color: #666666;
}

.stages-btn2:active {
  border: none;
  color: #ffffff;
  background-color: #000000;
}

.stages-btn {
  align-items: center;
}

/*questions */
.questions {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.questions-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: #000000;
}

.questions-wrap__list {
  position: relative;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  list-style-type: none;
  cursor: pointer;
}

.questions-wrap__title {
  order: 1;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #000000;
}

.questions-wrap__button {
  order: 2;
  padding: 0;
  border: none;
  background-color: inherit;
}

.questions-wrap__button:focus-visible {
  outline: none;
}

.questions-wrap__list:hover .questions-wrap__title,
.questions-wrap__button:focus+.questions-wrap__title {
  color: #ff9900;
}

.questions-wrap__button-first::before {
  border-top: 1px solid #cacaca;
}

.questions-wrap__button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #cacaca;
}

.questions-wrap__button:hover::before,
.questions-wrap__button:focus::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: -1px;
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
  cursor: pointer;
}

.questions-wrap__button-svg {
  background-color: inherit;
  transition: transform .5s ease-in-out;

  fill: #cacaca;
}

.questions-wrap__button-svg path {
  fill: #000000;
}

.questions-wrap__button:focus .questions-wrap__button-svg,
.questions-wrap__button:hover .questions-wrap__button-svg {
  fill: #ff9900;
}

.questions-wrap__button:focus .questions-wrap__button-svg path,
.questions-wrap__button:hover .questions-wrap__button-svg path {
  fill: #ffffff;
}

.questions-wrap__button:active .questions-wrap__button-svg path {
  transition: transform .6s;
  transform: rotate(45deg);
  transform-origin: 50% 50%;

  fill: #000000;
}

.questions-wrap__button:active .questions-wrap__button-svg {
  fill: #cacaca;
}

.questions-wrap__list:active .questions-wrap__title {
  color: #000000;
}

.questions-wrap__button:active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: -1px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  cursor: pointer;
}


.accordion-content {
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease, visibility .5s ease;
  transition-delay: .3s;
}

.is-active .accordion-content {
  visibility: visible;
  opacity: 1;
}

.is-active .questions-wrap__button-svg {
  transform:rotate(45deg);
}

.button-wrap {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.ac-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.ac-text {
  margin: 0;
  padding: ;
  color:#000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/*footer */
.footer {
  padding: 50px 0 50px 0;
  background-color: #000000;
}

.footer__all {
  display: flex;
  justify-content: space-between;
  min-height: 320px;
}

.footer-left {
  flex-direction: column;
}

.nav__footer {
  flex-direction: column;
  margin-bottom: 90px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer-title {
  margin-bottom: 25px;
  color: #cacaca;
}

.footer-form {
  flex-direction: column;
  width: 100%;
  max-width: 570px;
  margin-bottom: 32px;
}

.social-link path {
  transition: fill .2s linear;

  fill: #7c7c7c;
  ;
}

.social-link:focus {
  outline: 1px solid #ff9900;
}

.social-item:not(:last-child) {
  margin-right: 25px;
}

.social-link:hover path {
  outline: none;
  transition: fill .2s linear;

  fill: #ff9900;
  ;
}

.social-link:active path {
  transition: fill .2s linear;

  fill: #e1670e;
  ;
}

.social-link:active {
  outline: none;
}

.social-link:hover {
  outline: none;
}

.footer-center {
  max-width: 570px;
}

.form-input {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #cacaca;
  background-color: #414141;
}

.form-input:not(:last-child) {
  margin-bottom: 25px;
}

.form-input:focus {
  color: #cacaca;
  outline: none;
  background-color: #666666;
}

.form-input:hover {
  color: #cacaca;
  outline: none;
  background-color: #666666;
}

.form-input:active {
  color: #ffffff;
  outline: none;
  background-color: #666666;
}

.form-btn {
  min-width: 269px;
  margin-left: 140px;
  padding: 19px 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background: #ff9900;
  border-radius: 16px;
}

.hero__btn {
  padding: 25px 39px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  background: #ff9900;
}

.form-btn:focus {
  position: absolute;
  color: #ffffff;
  outline: none;
  background: rgba(255, 153, 0, .7);
}

.form-btn:hover {
  color: #ffffff;
  outline: none;
  background: rgba(255, 153, 0, .7);
}

.form-btn:active {
  color: #ffffff;
  background: #e1670e;
}

.form-input-textarea {
  min-height: 150px;
}

.nav__item2 {
  min-width: 260px;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #cacaca;
  transition: color .2s linear;
}

.nav__link2:focus {
  color: #cacaca;
  outline: 2px solid #ff9900;
  outline-offset: 2px;
}

.nav__link2:hover {
  color: #ff9900;
  outline: none;
  transition: color .2s linear;
}

.nav__link2:active {
  color: #e1670e;
  outline: none;
  transition: color .2s linear;
}

.footer-text {
  max-width: 363px;
  margin: 0;
  padding-top: 84px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #cacaca;
}
